#container {
  --cuPrimary: #9756D8;
  --scPrimary: #00C9E4;
  --scAccent: #D804A9;
  --gaPrimary: #6A00F0;
}

.projectStripe {
  height: 148px;
  background-color: var(--primaryColor);
}

@media only screen and (min-width: 700px) {
  #container {
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
  }
  
  .project {
    color: #EEEEEE;
    cursor: pointer;
  }
  
}