.navBar {
  z-index: 1;
  display: flex;
  position: absolute;
  width: 90%;
  max-width: 1024px;
  justify-content: space-between;
}

.project {
  z-index: 5;
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vh;
  height: 25vh;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}

.title {
  font-size: 78px;
}

.subtitle {
  margin-top: 0;
  color: unset;
}

.backButton {
  display: flex;
  align-items: center;
  font-size: 21px;
  transition: 0.1s ease-in;
}

.backIcon {
  margin-right: 10px;
  font-size: 19px;
}

#cuTitle {
  color: var(--cuPrimary);
}

@media only screen and (min-width: 700px) {
  .feature {
    flex: 1;
    width: 100%;
    height: auto;
    max-width: 350px;
  }

  .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: unset;
  }

  .description {
    text-align: right;
    justify-content: flex-start;
    margin-top: 150px;
  }

  .backButton {
    width: 200px;
  }

  .backButton:hover {
    color: var(--white);
  }

  .description {
    max-width: 512px;
  }

  #portfolioBack:hover {
    color: white;
  }
  
  #cuBack:hover {
    color: var(--cuAccent);
  }
  
  #scBack:hover {
    color: var(--scAccent);
  }
  
  #gaBack:hover {
    color: white;
  }
  
}
