* {
  --white: #FAFAFA;
  --black: #111111;
  --primaryColor: #E63042;
  --cuPrimary: #9756D8;
  --cuAccent: #00D0FE;
  --scPrimary: #00C9E4;
  --scAccent: #D804A9;
  --gaPrimary: #6A00F0;
  --pageMaxWidth: 1024px;
  --pageWidth: 90%;
}

html{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  overflow: scroll;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: var(--black);
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 15vw;
  font-style: normal;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 10vw;
  font-style: normal;
  font-weight: bold;
  margin: 0;
  color: var(--primaryColor);
}

h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 38px;
  line-height: 1;
}

h4 {
  font-family: 'Roboto Slab', serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  margin: 20px 5vw 20px 5vw;
}

h5 {
  font-style: normal;
  font-weight: 300;
  font-size: 4vw;
  line-height: 1;
  margin-bottom: 0;
}

a:link {
  color: unset;
}

a:visited {
  color: unset;
}

a:hover {
  color: unset;
}

a:active {
  color: unset;
}

#root {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.unselectable {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

@media only screen and (min-width: 700px) {
  h1 {
    font-size: 110px;
  }

  h2 {
    font-size: 80px;
  }

  h5 {
    font-size: 38px;
  }
}
