/* Landing pane styles */
#landingLeft, #landingRight {
  display: flex;
  flex: 1;
  flex-direction: column;
}

#landingLeft {
  white-space: nowrap;
  padding-top: 150px;
}

#landingRight {
  justify-content: flex-end;
  align-items: flex-end;
}

@keyframes floatNFade {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  20% {
    opacity: 1;
    transform: translateY(-10px);
  }
  30% {
    opacity: 1;
    transform: translateY(0px);
  }
  40% {
    opacity: 0;
    transform: translateY(0px);
  }
}

#scrollIndicator {
  position: fixed;
  top: 85vh;
  text-align: center;
  opacity: 0;
  animation: floatNFade 4s ease 5s infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  left: 0;
}

#values {
  position: absolute;
  top: 400px;
  display: flex;
  flex-direction: column;
  text-align: right;
}

#shortcuts {
  display: flex;
  flex-direction: row;
  margin: 0 0 5vh 0;
}

#keepMovingForward {
  position: absolute;
  font-size: 14px;
  text-align: right;
  white-space: nowrap;
  top: calc(235px + 21vw);
}

.valueBox {
  padding: 10px 0 0 20px;
  white-space: nowrap;
}

.landingStripe {
  top: 235px;
  height: 19vw;
  background-color: var(--primaryColor);
}

@media only screen and (min-width: 700px) {
  #keepMovingForward {
    top: 210px;
  }

  #values {
    flex-direction: row;
  }

  .landingStripe {
    height: 140px;
  }
}

/* About pane styles */
#aboutTop, #aboutBottom {
  display: flex;
  height: 100%;
  text-align: center;
}

#aboutTop {
  flex-direction: column;
  padding-top: 15vw;
  align-items: center;
  color: var(--black);
}

#aboutBio {
  display: flex;
  flex-direction: column;
}

#aboutBottom{
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

#logoPair {
  display: flex;
  flex-direction: row;
}

.bioSection {
  margin: 0 0 4vw 0;
}

.aboutStripe {
  top: 16vw;
  height: calc(610px - 40vw);
  background-color: var(--white);
}

@media only screen and (min-width: 700px) {
  #aboutTop {
    padding-top: 100px;
  }

  #aboutBio {
    flex-direction: row;
  }

  .bioSection {
    margin: 0 25px;
  }

  .aboutStripe {
    top: 100px;
    height: calc(475px - 20vw);
  }

  @media only screen and (min-width: 1150px) {
    .aboutStripe {
      height: 250px
    }
  }
}

/* Skills pane styles */
#skills {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skillBox {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 405px;
}

.stripeFE {
  top: 185px;
  height: 100px;
  background-color: var(--primaryColor);
}

.stripeBE {
  top: 565px;
  height: 100px;
  background-color: var(--primaryColor);
}

.stripeMD {
  top: 945px;
  height: 100px;
  background-color: var(--primaryColor);
}

.logo {
  margin: 25px;
  width: 100px;
  height: 100px;
}

.logoSvg{
  width: 100px;
  height: 100px;
}

@media only screen and (min-width: 700px) {
  #skills {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .skillBox {
    width: 300px;
    margin: 20px 1vw
  }

  .stripeFE {
    top: 185px;
  }

  .stripeBE {
    display: none;
  }

  .stripeMD {
    top: 592px;
  }

  @media only screen and (min-width: 900px) {
    #skills {
      align-items: flex-start;
      flex-wrap: nowrap;
    }

    .skillBox {
      margin: 20px 1vw;
    }

    .stripeBE {
      display: none;
    }

    .stripeMD {
      display: none;
    }
  }
}

/* Contact pane styles */
#contactContainer {
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.contactSection {
  margin-bottom: 2vw;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.contactSubsection {
  margin: 2vh;
}

.link, .link:visited {
  color: var(--primaryColor);
  transition: 0.1s ease-in;
  text-decoration: none;
}

.myLogo {
  transition: 0.01s ease-in;
}

.myLogo:active {
  width: 110px;
  height: 110px;
}

.icon {
  margin: 0 15px;
}

@media only screen and (min-width: 700px) {
  .icon:hover, .icon:active {
    color: var(--white);
  }
}