.container {
  height: 120px;
  width: 100%;
  --carouselStride: 25px;
}

.window {
  display: inline-block;
  position: absolute;
}

@media only screen and (min-width: 700px) {
  .container {
    --carouselStride: 100px;
  }
}