.container {
  overflow: visible;
  display: flex;
  flex-direction: column;
  padding: 0 5vw;
  width: var(--pageWidth);
  max-width: var(--pageMaxWidth);
  height: 100vh;
  max-height: 800px;
  min-height: 675px;
}
