* {
  --white: #FAFAFA;
  --black: #111111;
  --primaryColor: #E23849;
  --gaColor: #5921D8;
  --pageMaxWidth: 1024px;
  --pageWidth: 90%;
}

html{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  overflow: scroll;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: var(--black);
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 15vw;
  font-style: normal;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 10vw;
  font-style: normal;
  font-weight: bold;
  margin: 0;
  color: var(--primaryColor);
}

h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 38px;
  line-height: 1;
  margin-bottom: 0;
}

h4 {
  font-family: 'Roboto Slab', serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  margin: 20px 5vw 20px 5vw;
}

h5 {
  font-style: normal;
  font-weight: 300;
  font-size: 4vw;
  line-height: 1;
  margin-bottom: 0;
}

#root {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.unselectable {
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

@media only screen and (min-width: 700px) {
  h1 {
    font-size: 110px;
  }

  h2 {
    font-size: 80px;
  }

  h5 {
    font-size: 38px;
  }
}
