* {
  --lightColor: #FAFAFA;
  --darkColor: #303030;
  --primaryColor: #E23849;
  --accentColor: #F9DC5C;
}

html{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  overflow: scroll;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  /* min-width: 300px; // TODO: decide what the smallest should be when you're done
  min-height: 300px; */
  background: var(--lightColor);
  color: var(--darkColor);
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 110px;
  margin: 0;
}

h2 {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  margin: 0;
  color: var(--accentColor);
}

h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 38px;
  line-height: 1;
  margin-bottom: 0;
}

h4 {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  margin: 20px 5vw 20px 5vw;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
}

#root {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.inverted {
  color: var(--lightColor);
}

.bold {
  font-weight: bold
}

/* Landing pane styles */
#landing_left, #landing_right {
  display: flex;
  flex: 1;
  flex-direction: column;
}

#landing_left {
  align-items: flex-end;
  margin-right: 5vw;
}

#landing_left-wrapper {
  align-items: unset;
}

#landing_right-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

#landing_right {
  justify-content: center;
  align-items: center;
  margin-left: 5vw;
  margin-right: 5vw;
}

/* credit: https://www.webfx.com/blog/web-design/disable-text-selection/ */
.disable-selection, .introGroup {
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.introGroup {
  margin: 85px 0 0 15vw;
  white-space: nowrap;
}

/* About pane styles */
#about_top, #about_bottom {
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0 5vw 0 5vw;
  text-align: center;
}

#about_top {
  flex-direction: row;
}

#about_bottom {
  align-items: center;
  flex-direction: column;
}

#logo-pair {
  display: flex;
  flex-direction: row;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2vw 0 2vw;
}

.logo {
  margin: 25px;
  width: 100px;
  height: 100px;
}

.logo-svg {
  width: 100px;
  height: 100px;
}

/* Grade Aid pane styles */
#ga_container {
  display: flex;
  flex: 1;
  color: var(--lightColor);
}

#ga_left, #ga_right {
  margin: 5vw 7.5vw;
  display: flex;
  flex: 1;
  flex-direction: column;
}

#ga_left {
  margin-right: 2.5vw;
  justify-content: center;
  align-items: center;
}

#ga_right {
  margin-left: 2.5vw;
  margin-right: 12.5vw;
  text-align: right;
}

.ga_section {
  margin: 25px 0 40px;
  display: flex;
  flex-direction: row-reverse;
}

/* Contact pane styles */
#contact_container {
  background-color: var(--darkColor);
  color: var(--lightColor);
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.contact_section {
  margin-bottom: 2vw;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.contact_subSection {
  margin: 2vh;
}