* {
  --lightColor: #EFEFEF;
  --darkColor: #303030;
  --primaryColor: #E23849;
  --accentColor: #F9DC5C;
}

html{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  overflow: scroll;
  margin: 0;
  padding: 0;
  /* min-width: 300px; // TODO: decide what the smallest should be when you're done
  min-height: 300px; */
  height: 100%;
  width: 100%; 
  background: var(--lightColor);
  color: var(--darkColor);
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 110px;
  line-height: 0;
}

h2 {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 0;
  color: var(--accentColor);
}

h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 38px;
  line-height: 1;
  margin-bottom: 0;
}

h4 {
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
}

#root {
  position: relative;
  overflow: scroll;
  width: 100%;
  height: 100%;
}

#stripe {
  position: relative;
  top: 500;
}

/* credit: https://www.webfx.com/blog/web-design/disable-text-selection/ */
.disable-selection, .introGroup {
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.introGroup {
  margin: 75px 0 0 10vw;
}

.inverted {
  color: var(--lightColor);
}
