* {
  --white: #FAFAFA;
  --black: #141111;
  --primaryColor: #E23849;
  --accentColor: #F9DC5C;
  --gaTheme: #5921D8;
}

html{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  overflow: scroll;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  /* min-width: 300px; // TODO: decide what the smallest should be when you're done
  min-height: 300px; */
  background: var(--black);
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 110px;
  font-style: normal;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 80px;
  font-style: normal;
  font-weight: bold;
  margin: 0;
  color: var(--accentColor);
}

h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 38px;
  line-height: 1;
  margin-bottom: 0;
}

h4 {
  font-family: 'Roboto Slab', serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  margin: 20px 5vw 20px 5vw;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
}

#root {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.unselectable {
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

/* Landing pane styles */
#landing_left, #landing_right {
  display: flex;
  flex: 1;
  flex-direction: column;
}

#landing_left {
  white-space: nowrap;
  margin-left: 15vw;
  padding-top: 150px;
}

#landing_right {
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 15vw;
}

@keyframes hover {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  20% {
    opacity: 1;
    transform: translateY(-10px);
  }
  30% {
    opacity: 1;
    transform: translateY(0px);
  }
  40% {
    opacity: 0;
    transform: translateY(0px);
  }
}

#scroll_indicator {
  position: fixed;
  top: 90vh;
  left: 50vw;
  text-align: center;
  opacity: 0;
  animation: hover 4s ease 5s infinite;
}

#values {
  position: absolute;
  top: 400px;
  display: flex;
  flex-direction: row;
  text-align: right;
  margin-right: -20px;
}

.value_box {
  padding: 0 20px;
}

#shortcuts {
  display: flex;
  flex-direction: row;
  margin: 0 -20px 5vh 0;
}

#keep_moving_forward {
  position: absolute;
  font-size: 14px;
  top: 210px
}

.landing_button {
  font-size: 28px;
  text-decoration: underline;
  padding: 0 20px;
  transition: 0.1s ease-in;
  cursor: pointer;
}

.landing_button:hover {
  color: var(--primaryColor);
}

/* About pane styles */
#about_top, #about_bottom {
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0 5vw 0 5vw;
  text-align: center;
}

#about_top {
  flex-direction: row;
}

#about_bottom {
  align-items: center;
  flex-direction: column;
}

#logo-pair {
  display: flex;
  flex-direction: row;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2vw 0 2vw;
}

.logo {
  margin: 25px;
  width: 100px;
  height: 100px;
}

.logo-svg {
  width: 100px;
  height: 100px;
}

/* Grade Aid pane styles */
#ga_container {
  display: flex;
  flex: 1;
  color: var(--white);
}

#ga_left, #ga_right {
  margin: 5vw 7.5vw;
  display: flex;
  flex: 1;
  flex-direction: column;
}

#ga_left {
  margin-right: 2.5vw;
  justify-content: center;
  align-items: center;
}

#ga_right {
  margin-left: 2.5vw;
  margin-right: 12.5vw;
  text-align: right;
}

.ga_section {
  margin: 25px 0 40px;
  display: flex;
  flex-direction: row-reverse;
}

/* Contact pane styles */
#contact_container {
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.contact_section {
  margin-bottom: 2vw;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.contact_subSection {
  margin: 2vh;
}
